<div>
  <h4> User Info </h4>
  <div>
      <p>First Name: <%= @user.first_name %></p>
      <p>Last Name: <%= @user.last_name %></p>
      <p>Email: <%= @user.email %></p>
      <p>User Name: <%= @user.username %></p>
      <p>Company: <%= @user.company %></p>
  </div>

  <div class="container create-task">
    <label for="task-title">Title</label>
    <input type='text' id='task-title' maxlength=25/>
    <label for="task-description">Description</label>
    <input type='text' id='task-description' maxlength=200/>
    <label for="task-assignee_id">assignee_id</label>
    <input type='number' id='task-assignee_id' maxlength=25/>
    <label for="task-owner_id">owner_id</label>
    <input type='number' id='task-owner_id' maxlength=25/>
    <label for="task-creator_id">creator_id</label>
    <input type='number' id='task-creator_id' maxlength=25/>
    <button type='submit' class='btn create-task-button'>Create New Task</button>
  </div>

  <%= render '/users/tasks'%>


  <h1>Tasks that I Own</h1>
  <button class="btn btn-primary">hi</button>
  <hr>
  <div>
    <h4> Tasks that I Own </h4>
    <hr>
      <% @owned_tasks.each do |owned_task| %>
        <div>
          <p>Title: <%= owned_task.title %></p>
          <p>Description: <%= owned_task.description %></p>
          <p>Due Date: <%= owned_task.due_date %></p>
          <p>assigned_date: <%= owned_task.assigned_date %></p>
          <p>completed_date: <%= owned_task.completed_date %></p>
          <p>minute_id: <%= owned_task.minute_id %></p>
          <p>Owner of the owned_task (owner_id): <%= owned_task.owner_id %></p>
          <p>Who the owned_task is assigned to (assignee_id): <%= owned_task.assignee_id %></p>
          <p>Creator of owned_task (creator_id): <%= owned_task.creator_id %></p>
          <p>Associated Minute: <%= owned_task.minute_id %></p>
        </div>
        <hr>
      <% end %>
  </div>

  <div>
    <h4> Tasks that I created </h4>
    <hr>
      <% @created_tasks.each do |created_task| %>
        <div>
          <p>Title: <%= created_task.title %></p>
          <p>Description: <%= created_task.description %></p>
          <p>Due Date: <%= created_task.due_date %></p>
          <p>assigned_date: <%= created_task.assigned_date %></p>
          <p>completed_date: <%= created_task.completed_date %></p>
          <p>minute_id: <%= created_task.minute_id %></p>
          <p>Owner of the created_task (owner_id): <%= created_task.owner_id %></p>
          <p>Who the created_task is assigned to (assignee_id): <%= created_task.assignee_id %></p>
          <p>Creator of created_task (creator_id): <%= created_task.creator_id %></p>
          <p>Associated Minute: <%= created_task.minute_id %></p>
        </div>
        <hr>
      <% end %>
  </div>

  <div>
    <h4> Tasks that are Assigned to me </h4>
    <hr>
      <% @assigned_tasks.each do |assigned_task| %>
        <div>
          <p>Title: <%= assigned_task.title %></p>
          <p>Description: <%= assigned_task.description %></p>
          <p>Due Date: <%= assigned_task.due_date %></p>
          <p>assigned_date: <%= assigned_task.assigned_date %></p>
          <p>completed_date: <%= assigned_task.completed_date %></p>
          <p>minute_id: <%= assigned_task.minute_id %></p>
          <p>Owner of the assigned_task (owner_id): <%= assigned_task.owner_id %></p>
          <p>Who the assigned_task is assigned to (assignee_id): <%= assigned_task.assignee_id %></p>
          <p>Creator of assigned_task (creator_id): <%= assigned_task.creator_id %></p>
          <p>Associated Minute: <%= assigned_task.minute_id %></p>
        </div>
        <hr>
      <% end %>
  </div>


</div>
